#cuerpo{
    background: black;
}
.configuración{
   display: flex;
    color: white;
    font-size: large;
justify-content: center;
}
.articulo{
    display: inline-block;
}
.links{
    font-size: larger;
    color: blue;
    margin: 5px;
    background: red;
    text-decoration: none;
}
#navegacion{
    background: blueviolet;
}
#kda{
 color: red;
 background: rgba(165, 42, 42, 0.477);
}
